[Unit]
Description=Airflow Triggerer
After=network.target airflow-scheduler.service
Wants=network.target

[Service]
User=airflow
Group=airflow
Type=simple

Environment=AIRFLOW_HOME=/opt/airflow
Environment=PATH=/opt/airflow/venv/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin

WorkingDirectory=/opt/airflow

ExecStart=/opt/airflow/venv/bin/airflow triggerer

Restart=on-failure
RestartSec=10
TimeoutStopSec=90
KillMode=mixed

[Install]
WantedBy=multi-user.target

